
    /* content */
.daftar-tombol {
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 0px;

    padding-left: 0;
    padding-right: 0;
}

.daftar-tombol a {
    margin-left: 10px;
}

.tombol-footer {
    margin-top : 15px;

}
